.buttom-carousel {
  padding: 10px 5px;
}

.carousel-control {
  width: 30px;
}

.carousel-control>span {
  color: #b4b3b8;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}

.img-flag {
  width: 26px;
  height: 18px;
  margin: 5px;
}

@media (max-width: 575.98px) {
  .img-proyects {
    height: 212px;
  }
}

input::placeholder {
  padding-left: 15px;
}

.body-white {
  background-color: white;
}

.search-navbar {
  background-color: #6c6e71;
  border-color: #707070;
  border-radius: 11px;
}

.icon-search-navbar {
  font-size: 2rem;
}

.navbar-gray {
  background-color: #b4b3b8;
}

.navbar-gray-form {
  background-color: #b4b3b8;
  padding: 12px 0px;
}

.navbar-gray-input {
  background-color: #c7c6ca;
  border-color: #a2a1a5;
  border-radius: 11px;
}

.navbar-gray-span {
  font-size: 2rem;
  color: white;
  padding-left: 10px;
}

.carousel-mobile {
  margin: 5px 0px;
}

.carousel-mobile.carousel-inner {
  margin: 5px 40px;
}

.carousel-control-class {
  width: 8%;
}

.carousel-control-span {
  color: #707070;
}

.w-45 {
  width: 454px;
}

.border-felicitaciones {
  border: 1px solid #707070;
}

.indicadores-class {
  background-color: #707070;
  margin-bottom: 20px;
}

.indicadores-div {
  background-color: #707070;
  margin-top: 3px;
}

.indicadores-p {
  padding: 0px 12px;
}

.buscar-persona-div {
  background-color: #707070;
  margin-top: 3px;
  padding: 10px 20px;
}

.buscar-persona-p {
  margin-right: 10px;
}

.buscar-persona-search-icon-class {
  background-color: #cccecf;
  border-color: #747576;
  border-radius: 11px;
}

.buscar-persona-search-icon-span {
  font-size: 2rem;
  color: white;
  padding-left: 10px;
}

.card-title-one {
  border-radius: 5px 5px 0px 0px;
}

.card-title-border {
  border-bottom: 0px;
  padding: 0px 0px 10px 0px;
}

.card-title-background {
  background-color: #fdb331;
}

.icon-red {
  color: #d52b1e;
}

.carousel-mesadeservicio {
  background-color: #f0f0f1;
}

.carousel-mesadeservicio-inner {
  padding: 10px 0px;
  margin-bottom: 20px;
}

.carousel-mesadeservicio-p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.background-sidebar {
  background-color: #f7f7f7;
  border-radius: 11px;
  margin: 0px 10px 40px 0px;
}

.sidebar-span {
  font-size: 18px;
}

.background-multimedia {
  background-color: #f7f7f7;
  border-radius: 11px;
  margin-bottom: 40px;
}

.button-gray-1 {
  background-color: #383b3f;
  margin-bottom: 10px;
}

.button-gray-2 {
  background-color: #4b4e51;
  margin-bottom: 10px;
}

.button-gray-3 {
  background-color: #5f6265;
  margin-bottom: 10px;
}

.button-gray-4 {
  background-color: #737578;
  margin-bottom: 10px;
}

.button-gray-5 {
  background-color: #87898b;
  margin-bottom: 10px;
}

.button-gray-6 {
  background-color: #afb0b2;
  margin-bottom: 10px;
}

.logos-cuadro-1 {
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 2px;
}

.logos-cuadro-2 {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 2px;
  float: right;
}

.birthday-background {
  background-color: #f7f7f7;
}

.input-gray {
  width: 160px;
  background-color: #b4b3b8;
  border-radius: 9px;
  border: 0px;
}

.brithday-hi {
  background-color: #f7f7f7;
  border-radius: 11px;
  margin-top: 20px;
}

.footer-background {
  background-color: #d52b1e;
  height: 84px;
}

.line-border-sidebar {
  border-bottom: 1px solid #b4b3b8;
}

.active.active,
li.active span,
li.active i {
  font-weight: bold;
  color: #d52b1e;
}

.active.tab-pane {
  font-weight: normal;
  color: #4d5259;
}

.number-card-title {
  color: #d52b1e;
}

.line-border-sidebar-history-active {
  border-right: 3px solid #a3e2f9;
}

.line-border-sidebar-history {
  border-right: 1px solid #cbcbcb;
}

.card-border {
  border-radius: 1px solid #c5c5c5;
  border: 1px solid #c5c5c5;
}

.card-border-radius {
  border-radius: 1px;
}

.image-text-inside {
  z-index: 300;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  width: auto;
}

.image-filial {
  margin: 0px -20px;
}

.btn-link-accordion.btn-link-accordion {
  color: #d52b1e;
  font-weight: 300 bold;
}

.btn-link-accordion.collapsed {
  color: #383b3f;
  font-weight: 300 bold;
}

.w-150 {
  width: 150px;
}

.a-sidebar {
  color: #d52b1e;
}

.navbar-dark .navbar-toggler {
  color: white;
}

.nav-tabs {
  border-bottom-color: none;
  margin-bottom: 0px;
  border-bottom: none;
}

.nav-tabs-gobierno.nav-tabs .nav-link:hover,
.nav-tabs-gobierno.nav-tabs .nav-link.active,
.nav-tabs-gobierno.nav-tabs .nav-link.active:focus,
.nav-tabs-gobierno.nav-tabs .nav-link.active:hover {
  color: white;
  background-color: #b4b3b8;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  color: #d52b1e;
  border-color: white;
}

.input-gray-noticias {
  width: 100px;
  background-color: #eff1f5;
  border-radius: 9px;
  border: 1px solid #fafafa;
}

.input-gray-noticias-grande {
  width: 170px;
  background-color: #eff1f5;
  border-radius: 9px;
  border: 1px solid #fafafa;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse.navbar-display {
    display: none !important;
  }
}

.fondo-azul {
  background-color: #383b3f;
}

.enviar-fondo {
  background-color: #f5f4f5;
}

.enviar-borde {
  border: 1px solid #caced5;
}

.h-450 {
  height: min-content;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 24px;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -20px;
  margin-left: -20px;
}

.speech-bubble:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 22px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #caced5;
  border-left: 0;
  margin-top: -20px;
  margin-left: -20px;
}

.image-world {
  top: 20px;
  position: absolute;
}

.description-sideright {
  width: calc(100% - 102px);
}

@media (max-width: 769px) {

  .speech-bubble:before,
  .speech-bubble:after {
    margin: 0;
    border: 0;
    top: 0;
    left: 0;
  }
}

.image-curva-father {
  position: relative;
}

.image-curva {
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 0;
  background: url(../img/circle.svg) 0 0 no-repeat;
  background-size: cover;
  z-index: 9;
}

.comunication-link {
  color: #4d5259;
}

.pagination .page-item .page-link {
  border: 0px;
}

.pagination .page-item:first-child .page-link.page-link,
.pagination .page-item:last-child .page-link.page-link {
  background-color: #d52b1e;
  border-radius: 50% !important;
}

.close.x-cricle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #d52b1e;
  color: white;
  opacity: 100%;
  text-shadow: none;
  margin-right: 1px;
}

.modal-header {
  border-bottom-color: #f1f2f3;
  display: flex;
  align-content: center;
  align-items: center;
}

.x-position {
  position: absolute;
  top: 16px;
  right: 26px;
}

.modal-content {
  border-radius: 10px;
  border: none;
}

.face {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.breadcrumb a:hover {
  color: #8b95a5;
  text-decoration: none;
}

.input-gray-beneficios {
  width: 130px;
  background-color: #383B3F;
  border-radius: 9px;
  border: 1px solid #EBEBEB;
}

.input-gray-beneficios-rojo {
  width: 100px;
  background-color: #D52B1E;
  border-radius: 9px;
  border: 1px solid #EBEBEB;
}

#place-white {
  color: white;
}

#place-white::placeholder {
  color: white;
}

.image-circle {
  width: 200px;
  height: 157px;
  float: left;
  margin-right: 10px;
}

.background-capacitacion {
  background-color: #f8f8f8;
  padding: 15px;
}

.image-circle-capacitacion {
  width: 54px;
  height: 54px;
  margin-right: 10px;
}

.pagination-center {
  display: flex;
  justify-content: center;
}

/*calendario*/

@media (max-width:575px) {
  .display-4 {
    font-size: 1.5rem;
  }

  .day h5 {
    background-color: #f8f9fa;
    padding: 3px 5px 5px;
    margin: -8px -8px 8px -8px;
  }

  .date {
    padding-left: 4px;
  }
}

@media (min-width: 576px) {
  .day {
    height: 14.2857vw;
  }
}

/* fin calendario*/

.button-recursos {
  background-color: #D52B1E;
  border-radius: 17px;
}

.cards-pdf {
  background-color: white;
}

.btn-acordeon-recursos.btn.btn-link,
.btn-acordeon-recursos.btn.btn-link:hover,
.btn-acordeon-recursos.btn.btn-link.active,
.btn-acordeon-recursos.btn.btn-link.active:focus,
.btn-acordeon-recursos.btn.btn-link.active:hover {
  background-color: #383B3F;
  border-radius: 8px;
  color: white;
}

.img-nuestras-areas {
  width: 157px;
  height: 157px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary.active,
.btn-primary.active:focus,
.btn-primary.active:hover {
  background-color: #D52B1E;
  border-color: #D52B1E;
}

.btn-acordeon-recursos-2.btn.btn-link,
.btn-acordeon-recursos-2.btn.btn-link:hover,
.btn-acordeon-recursos-2.btn.btn-link.active,
.btn-acordeon-recursos-2.btn.btn-link.active:focus,
.btn-acordeon-recursos-2.btn.btn-link.active:hover {
  background-color: #B4B3B8;
  border-radius: 8px;
  color: #383B3F;
}

.image-circle-beneficio {
  position: absolute;
  bottom: -17px;
  right: 10px;
  z-index: 20;
}

.btn-primary.button-agenda-telefonica {
  background-color: #D52B1E;
  border-radius: 35px;
  font-size: 13px;
  font-weight: normal;
  width: 100px;
}

.link-agenda {
  color: #D52B1E;
}

.circle-adm {
  color: #D52B1E;
  margin-right: 15px;
}

.box-adm {
  padding-right: 50px;
}